.task-filter-container {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-add-task {
  align-self: flex-end;
}

.task-container-title {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
