.task-card {
  height: 100%;
  width: 90%;
  padding: 1rem;
  background-color: #ebf2f7;
  border: 1px solid #b5b6b8;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

input[name="isFinish"] {
  transform: scale(1.2);
}

.task-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extended {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.extended > input[name="isFinish"] {
  grid-row: 1/4;
  grid-column: 1/2;
  transform: scale(1.5);
}

.task-title {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 1.2rem;
  font-weight: bold;
}

.task-desc {
  grid-row: 2/3;
  grid-column: 2/3;
  width: 100%;
}

.task-tags {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.task-buttons {
  grid-row: 3/4;
  grid-column: 3/4;
  justify-self: flex-end;
}

.task-date {
  border: 1px solid #b5b6b8;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.task-priority {
  border: 1px solid #b5b6b8;
  padding: 0.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
}
