.all-project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.project-card {
  width: 80%;
  background-color: #ebf2f7;
  border: 1px solid #b5b6b8;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-card-delete,
.project-card-edit {
  color: white;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.2rem;
}

.project-card-delete {
  background-color: red;
}

.project-card-edit {
  background-color: blue;
}

.project-card-delete:hover {
  background-color: rgb(248, 73, 73);
}

.project-card-edit:hover {
  background-color: rgb(77, 77, 252);
}

.project-card:hover {
  background-color: #b5b6b8;
}
